:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e0e1dd;
  color: #0d1b2a;
}


.component {
  border: 1px solid #0d1b2a;
}

.center {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
