.container-title {
    text-align: center;
    background-color: #415a77;
    box-shadow: 10px 10px 10px #0d1b2a;
    border-radius: 10px;
    width: fit-content;
    height: 70px;
    margin: 15px auto;
    padding: 10px;
    color: #e0e1dd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-title h1 {
    margin: 0;
}